[Unit]
Description=Telegram Chat Manager Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=
ExecStart=
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
