[Unit]
Description=Telegram Chat Manager Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/capybara/dev/akaii_chatbot/Akaii-Telegram-bot/
ExecStart=/home/capybara/dev/akaii_chatbot/.venv/bin/python main.py
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
